<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <h1>Hello World</h1>

    <div class="user-list">
        <% users.forEach((user) => { %>
        <div class="user-item">
            <span><%= user.name %></span>
            <button class="delete-btn" data-id="<%= user.id %>">Delete</button>
        </div>   
        <% }) %>
    </div>

    <script>
    const userItems = document.querySelectorAll('.user-item')

    const userList = document.querySelector('.user-list')

    function deleteUser (userId) {
        return fetch('/users/' + userId, {
            method: 'DELETE'
        })
            .then(res => res.json())
            .then(data => {
                console.log(data)
            })
    }

    Array.from(userItems)
        .forEach((userItem) => {
            const deleteBtn = userItem.querySelector('.delete-btn')
            
            deleteBtn.addEventListener('click', function (event) {
              const btn  = event.target;
              const id = btn.getAttribute('data-id')

              deleteUser(id)
                .then(() => {
                    userList.removeChild(userItem)
                })
            })
        })
    </script>
</body>
</html>